/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.cantainer {
  display: gird;
  grid-gap: 20px;
  background-image: radial-gradient(#0b0c10, #1f2833);
}
.example {
  font-family: sans-serif;
  padding: 50px;
}
.example h1 {
  font-size: 10vw;
  color: blue;
  margin: 0;
}
.example p {
  line-height: 1.6;
}
body {
  font-family: "Avenir", sans-serif;
  /*background-image: linear-gradient(#d7cec7, #fff2e9);*/
}
.header {
  background: #d7cec7;
  color: #76323f;
  min-height: 25vw;
  padding: var(--gutter);
}
.header .title {
  align-content: end;
  display: grid;
}
.header h1 {
  font-size: 8vw;
  margin: 0;
}
.header p {
  line-height: 1.6;
}
.header .description {
  align-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
}
.main {
  background-image: linear-gradient(#d7cec7, #fff2e9);
  color: #565656;
  min-height: 50vw;
  padding: var(--gutter);
}
.main .description {
  align-content: space-between;
  display: grid;
}
.main p {
  line-height: 1.6;
  padding: 15px;
}
i {
  color: #c09f80;
}
.main .ingredients1 {
  align-content: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px;
}
.main .ingredients2 {
  align-content: space-between;
  display: grid;
  padding: 15px;
}
.main h3 {
  font-size: 2vw;
  color: #76323f;
}
.main .title {
  font-size: 1vw;
  color: #c09f80;
}
